<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registracia</title>
    <link rel=" stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h2>Registrácia trenéra</h2>

        <form action="/registracia" method="post">

            <label>Meno:</label><br>
            <input type="text" name="meno" required><br><br>

            <label>Priezvisko:</label><br>
            <input type="text" name="priezvisko" required><br><br>

            
            <label>Telefón:</label><br>
            <input type="text" name="telefon" required><br><br>

            <label>Špecializácia:</label><br>
            <input type="text" name="specializacia" required><br><br>

            <label>Heslo:</label><br>
            <input type="text" name="heslo" required><br><br>

            <button class= buttonheh type="submit">Registrovať</button>
            
        </form>
        <hr>
        <a href="/">Späť</a>
        
</body>

</html>