<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Treneri</title>
    <link rel=" stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>Výber z databázy</h1>
        <a href="/kurzy"><button class= buttonheh >Zobraz všetky kurzy</button></a>
        <a href="/treneri"><button class= buttonheh >Zobraz všetkých trénerov</button></a>
        <a href="/miesta"><button class= buttonheh >Zobraz miesta</button></a>
        <a href="/kapacity"><button class= buttonheh >Zobraz kapacitu</button></a>
        <a href="/registracia"><button class= buttonheh >Registruj Trenéra</button></a>
        <a href="/pridajkurz"><button class= buttonheh >Pridaj kurz</button></a>
        <hr>
</body>

</html>